<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />
  		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<link rel="dns-prefetch" href="{{ STATIC_URL }}" />
		<link rel="media-url" href="{{ STATIC_URL }}" />

		<title>{% block title %}Shum-Harden Wedding Website{% endblock title %}</title>

		<meta name="description" content="" />
		<meta name="author" content="Christian Harden" />

		<!-- Mobile viewport optimized: j.mp/bplateviewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta property="ga:property_id" content="UA-30937664-1"/>
		<meta property="ga:domain" content="none"/>

		<!-- Facebook sharing -->
		<meta property="og:app_id" content="123096721155602" />
		<meta property="og:title" content="Shum-Harden Wedding Website" />
		<meta property="og:image" content="" />
		<meta property="og:site_name" content="" />
		<meta property="og:description" content="" />
		<meta property="og:url" content="" />
		<meta property="og:locale" content="en_us" />
		<meta property="og:type" content="blog" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />
		<script src="{{ STATIC_URL }}js/libs/modernizr-2.5.3.min.js"></script>
		<script src="{{ STATIC_URL }}js/libs/respond.js"></script>
	</head>
	<body class="{% block page_class %}page{% endblock page_class %}{% if settings.TEMPLATE_DEBUG %} holmes-debug{% endif %}" data-page-class="{% block page_data %}Page{% endblock page_data %}">
		<div id="container">
			<header>
				<nav role="navigation">
					<ul>
						<li class="selected"><a href="#welcome" data-section="welcome" title="Welcome">Welcome</a></li>
						<li class=""><a href="#story" data-section="story" title="A Love Story">A Love Story</a></li>
						<li><a href="#wedding" data-section="wedding" title="The Wedding">The Wedding</a></li>
						<li><a href="#party" data-section="party" title="Wedding Party">Wedding Party</a></li>
						<li><a href="#guests" data-section="guests" title="Guest Services">Guest Services</a></li>
						<li class="rsvp"><a href="#rsvp" title="RSVP" data-section="rsvp">RSVP <small>Now</small></a></li>
					</ul>
				</nav>
			</header>
			<div id="main" role="main">
				{% block content %}
				
				{% endblock content %}
			</div>

			

			<footer>
				<div class="background">
					<div class="backing tilt-right"><div></div></div>
				</div>
				<div class="content">
					<nav>
						<ul>
							<li>© 2012 Potench, LLC. All rights reserved.</li>
							<li>shum-harden wedding 2012</li>
						</ul>
					</nav>
				</div>
			</footer>
		</div> <!--! end of #container -->

		<!-- JavaScript at the bottom for fast page loading -->
		<div class="hidden scripts">
			<script type="text/javascript">
				(function () {
					Modernizr.load([{
						// jQuery
						load : "{{ STATIC_URL }}js/libs/jquery-1.7.2.min.js"
					}, { // SITE
						load : [
							{% if settings.TEMPLATE_DEBUG %}
								// libs 
							"{{ STATIC_URL }}js/libs/mustache.js",

							// Plugins
							"{{ STATIC_URL }}js/libs/plugins/jquery.easing.js",
							"{{ STATIC_URL }}js/libs/plugins/jquery.pubsub.js",
							"{{ STATIC_URL }}js/libs/plugins/jquery.imagesloaded.js",
							"{{ STATIC_URL }}js/libs/plugins/jquery.mask-image.js",
							"{{ STATIC_URL }}js/libs/plugins/jquery.reflect-image.js",
							"{{ STATIC_URL }}js/libs/plugins/jquery.clone-canvas.js",
							"{{ STATIC_URL }}js/libs/plugins/modernizr.custom-tests.js",

							// Rosy Framework
							"{{ STATIC_URL }}js/red/base/class.js",
							"{{ STATIC_URL }}js/red/site.js",
							"{{ STATIC_URL }}js/red/modules/module.js",
							"{{ STATIC_URL }}js/red/modules/social/facebook.social.js",
							"{{ STATIC_URL }}js/red/modules/tracking/ga.tracking.js",

							// Site Specific
							"{{ STATIC_URL }}js/wedding/site.js",
							"{{ STATIC_URL }}js/wedding/module/module.js",
							"{{ STATIC_URL }}js/wedding/module/shell.js",
							"{{ STATIC_URL }}js/wedding/module/tracking/ga.tracking.js",

							"{{ STATIC_URL }}js/wedding/page/page.js",
							"{{ STATIC_URL }}js/wedding/page/home.js",
							"{{ STATIC_URL }}js/wedding/page/story.js",
							"{{ STATIC_URL }}js/wedding/page/guests.js",
							"{{ STATIC_URL }}js/wedding/page/rsvp.js"

							{% else %}
							// All Minified
								"{{ STATIC_URL }}js/wedding.min.js", 
							{% endif %}
						],
						wait : true,
						complete : function () {
							wedding.init();
						}
					}]);
				}());
			</script>
		</div>
	</body>
</html>
