<!doctype html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if IE 7]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!-- Consider adding an manifest.appcache: h5bp.com/d/Offline -->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
	<head>
		<meta charset="utf-8" />

		<!-- Prefetch your CDN URL: http://j.mp/bplatednsfetch -->
		<link rel="dns-prefetch" href="{{ STATIC_URL }}" />

		<!-- Set STATIC_URL parameter -->
		<link rel="media-url" href="{{ STATIC_URL }}" />

		<title>{% block title %}__PROJECT_NAME__{% endblock title %}</title>

		<meta name="description" content="" />
		<meta name="author" content="" />

		<!-- Mobile viewport optimized: j.mp/bplateviewport -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons -->

		<!-- CSS: implied media="all" -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />

		{% if TEMPLATE_DEBUG %}
		<!-- holmes.css - CSS Markup Detective: j.mp/holmescss -->
		<link rel="stylesheet" href="{{ STATIC_URL }}css/debug/holmes.css" />
		{% endif %}

		<!-- All JavaScript at the bottom, except for Modernizr and Respond.
		     Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
		     For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ -->
		<script src="{{ STATIC_URL }}js/libs/modernizr-2.0.js"></script>
		<script src="{{ STATIC_URL }}js/libs/respond.js"></script>
	</head>
	<body class="{{ PAGE|lower }}{% if TEMPLATE_DEBUG %} holmes-debug{% endif %}" data-page-class="{{ PAGE|capfirst }}">
		<div id="container">
			<header>
				<nav role="navigation"></nav>
			</header>
			<div id="main" role="main">
				{% block content %}
				{% endblock content %}
			</div>
			<footer>
				
			</footer>
		</div> <!--! end of #container -->

		<!-- JavaScript at the bottom for fast page loading -->
		<div class="hidden scripts">
			<script type="text/javascript">
				(function () {
					Modernizr.load([{
						// jQuery
						load : "//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js",
						complete : function () {
							if (!window.jQuery) {
								Modernizr.load("{{ STATIC_URL }}js/libs/jquery-1.6.2.min.js");
							}
						}
					}, { // SITE
						load : [
							{% if TEMPLATE_DEBUG %}
							// jQuery Plugins
							"{{ STATIC_URL }}js/libs/plugins/jquery.easing.js",
							"{{ STATIC_URL }}js/libs/plugins/jquery.tmpl.js",

							// Rosy Framework
							"{{ STATIC_URL }}js/red/base/class.js",
							"{{ STATIC_URL }}js/red/site.js",

							// Site Specific
							"{{ STATIC_URL }}js/example/site.js",
							"{{ STATIC_URL }}js/example/base/page.js",
							
							"{{ STATIC_URL }}js/example/shell.js",
							"{{ STATIC_URL }}js/example/home.js"
							{% else %}
							// All Minified
							"{{ STATIC_URL }}js/example/example.min.js"
							{% endif %}
						],
						wait : true,
						complete : function () {
							Example.init();
						}
					}]);

					// Google Analytics
					// Change UA-XXXXX-X to be your site's ID
					window._gaq = [["_setAccount", "UAXXXXXXXX1"], ["_trgackPageview"], ["_trackPageLoadTime"]];

					Modernizr.load({
						load : ("https:" == location.protocol ? "//ssl" : "//www") + ".google-analytics.com/ga.js"
					});
				}());
			</script>

			<!-- Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
				 chromium.org/developers/how-tos/chrome-frame-getting-started -->
			<!--[if lte IE 7 ]>
				<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
				<script>
					window.attachEvent("onload", function () {
						CFInstall.check({
							mode : "overlay"
						});
					});
				</script>
			<![endif]-->
		</div>
	</body>
</html>
