{% extends "base.html" %}

{# Sets the current body class #}
{# This variable *must* be lowercase #}
{% block page_class %}home{% endblock page_class %}

{# Sets the current Rosy class #}
{# This variable *must* be capcase #}
{% block page_data %}Home{% endblock page_data %}

{% block content %}
	<section id="welcome" class="page">
		<div class="backing gutter tilt-left"><div></div></div>
		<div class="content">
			<span class="glow"></span>
			<h1>Nikki <span>&amp;</span> Christian</h1>
			<h2>We're getting <span>married</span> and we can't wait to celebrate it!</h2>
		</div>
	</section>

	<section id="slideshow" class="page">
		<div class="backing gutter tilt-right"></div>
		<div class="content">
			<h1>Weclome Wedding</h1>
		</div>
	</section>

	<section id="about">
		<h1>How We Met</h1>
		<p>Welcome to our wedding website! We have been busy planning and getting ready for our wedding day on July 24th, 2010! You’ve probably already received the save-the-date and came to our web site looking for more information! Have fun looking around and learning more about us, and the special day we have planned.</p>
		<p>We are getting married at the Franklin Institute in Philadelphia, PA. Jay grew up in New Hampshire and Kara in South Jersey. We met in Washington, DC moved across the country together to Santa Barbara, and we currently live in Los Angeles! We had lots of options for wedding locations!</p>
	</section>
{% endblock content %}
