[submodule "resources/compass"]
	path = resources/compass
	url = git@github.com:ff0000/red-compass-framework.git
[submodule "static/js"]
	path = static/js
	url = git@github.com:ff0000/rosy
[submodule "rosy"]
	path = rosy
	url = git@github.com:ff0000/rosy
[submodule "project/static/js"]
	path = project/static/js
	url = git@github.com:ff0000/rosy.git
