<section id="guests" class="page">
	<div class="background">
		<div class="backing tilt-right"><div></div></div>
	</div>
	<div class="content">
		<div class="info">
			<h1 class="headline" data-copy="Guest Information">Guest Information</h1>

			<article class="stat crowd">
				<figure>
					<div>
						<img src="{{ STATIC_URL }}img/guests/guests.png" alt="Crowd Stat" />
					</div>
					<figcaption>
						<strong>140</strong>
						<small>Shum-Harden friends are invited to watch them tie the knot.</small>
					</figcaption>
				</figure>
			</article>

			<h2 class="headline" >Accomodations</h2>

			<article class="hotel">
				<div class="photo">
					<img src="{{ STATIC_URL }}img/guests/sheraton.jpg" alt="Sheraton Hotel" />
				</div>
				<h3>Sheraton Agoura Hills Hotel</h3>
				<p>
					<span>Room rate of $99 per night</span>
					<span>Complimentary shuttle to wedding venue</span>
					<span class="address">30100 Agoura Road. Agoura Hills, CA 91301</span>
					<span class="phone">(818) 707-1220</span>
					<a href="https://www.starwoodmeeting.com/StarGroupsWeb/booking/reservation?id=1203138806&key=ACE8B" target="_blank" title="Sheraton Book Now" >Book Now</a>
					<a href="https://maps.google.com/maps?hl=en&q=30100+Agoura+Road.+Agoura+Hills,+CA+91301&ie=UTF-8&hq=&hnear=0x80e8240f7596e97b:0x3c9e4f0636bbcd11,30100+Agoura+Rd,+Agoura+Hills,+CA+91301&gl=us&daddr=30100+Agoura+Rd,+Agoura+Hills,+CA+91301&ei=sO7IT9vyEIj1ggf24IXEDg&oi=geocode_result&ved=0CAoQwwUwAA" target="_blank" title="Get Directions">Directions</a>
				</p>
			</article>

			<article class="hotel">
				<div class="photo">
					<img src="{{ STATIC_URL }}img/guests/homewood.jpg" alt="Homewood Suites Hotel" />
				</div>
				<h3>Homewood Suites by Hilton Agoura Hills</h3>
				<p>
					<span>King Suite rate of $110 per night</span>
					<span>Complimentary shuttle to wedding venue</span>
					<span class="address">28901 Canwood St. Agoura Hills, CA 91301</span>
					<span class="phone">(818) 865-1000</span>
					<a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/A/AGOHWHW-WHS-20120807/index.jhtml?WT.mc_id=POG" target="_blank" title="Homewood Suites Book Now">Book Now</a>
					<a href="https://maps.google.com/maps?q=28901+Canwood+St.+Agoura+Hills,+CA+91301&ie=UTF-8&hq=&hnear=0x80e826ad779f060f:0xb7acc6c0fd1b8673,28901+Canwood+St,+Agoura+Hills,+CA+91301&gl=us&daddr=28901+Canwood+St,+Agoura+Hills,+CA+91301&ei=T-7IT_39KYnzggfT7qXeDg&oi=geocode_result&ved=0CAwQwwUwAA" target="_blank" title="Get Directions">Directions</a>
				</p>
			</article>

			<h2 class="headline">Wedding Registries</h2>

			<ul class="registries">
				<li>
					<a href="http://www.surlatable.com/registry/giftRegistryList.jsp?id=200110835233" target="_blank" title="Sir Le Table">
						<span>Visit</span>
						<img src="{{ STATIC_URL }}img/guests/sirletable.jpg" alt="Sir Le Table"/>
					</a>
				</li>
				<li>
					<a href="http://www.potterybarn.com/registry/2949004/registry-list.html" target="_blank" title="Pottery Barn">
						<span>Visit</span>
						<img src="{{ STATIC_URL }}img/guests/potterybarn.jpg" alt="Pottery Barn"/>
					</a>
				</li>
				<li>
					<a href="http://www1.bloomingdales.com/registry/wedding/guest/?registryId=708457" target="_blank" title="BLoomgindale's">
						<span>Visit</span>
						<img src="{{ STATIC_URL }}img/guests/bloomingdales.jpg" alt="Bloomingdale's"/>
					</a>
				</li>
			</ul>


		</div>
	</div>
</section>