<section id="party" class="page">
	<div class="background">
		<div class="backing tilt-left"><div></div></div>
	</div>
	<div class="content">
		<div class="lines">
			<img data-line="1" src="{{ STATIC_URL }}img/party/line-1.jpg" alt="Line" />
			<img data-line="2" src="{{ STATIC_URL }}img/party/line-2.jpg" alt="Line" />
			<img data-line="3" src="{{ STATIC_URL }}img/party/line-3.jpg" alt="Line" />
			<img data-line="4" src="{{ STATIC_URL }}img/party/line-4.jpg" alt="Line" />
			<img data-line="5" src="{{ STATIC_URL }}img/party/line-5.jpg" alt="Line" />
			<img data-line="6" src="{{ STATIC_URL }}img/party/line-6.jpg" alt="Line" />
			<img data-line="7" src="{{ STATIC_URL }}img/party/line-7.jpg" alt="Line" />
		</div>

		<div class="info">
			<h1 class="headline" data-copy="Wedding Party">Wedding Party</h1>

			<div class="bridesmaids">
				<h3 class="headline">Bride's Party</h3>

				<!-- <article class="stat">
					<figure>
						<div>
							<img src="{{ STATIC_URL }}img/party/stat.jpg"  alt=""/>
						</div>
						<figcaption>
							<small>Number of times Nikki has been a bridesmaid:</small>
							<strong>4</strong>
						</figcaption>
					</figure>
				</article> -->

				<article class="natasha player left">
					<b>1</b>
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/natasha.jpg" alt="" />
					</div>
					<h1>Natasha Shum, <br/>Matron of Honor</h1>
					<p>Natasha is Nikki's eldest sister and the person who introduced Nikki to RED (and therefore to Christian). Nikki also owes surviving her first year of semi-financial independence, her fashion sense, and her countless photos hob-knobbing with celebs to Natasha. Nikki has often been called Tasha's "mini me," a nickname she's proud to have.</p>
				</article>

				<article class="natalie player">
					<b>2</b>
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/natalie.jpg" alt="" />
					</div>
					<h1>Natalie Shum, <br/>Matron of Honor</h1>
					<p>Natalie is Nikki's second eldest sister and her role model of a successful woman. When she's not with her adorable two daughters and wonderful husband, Natalie is saving lives as an ER doctor. Nikki hopes one day she casing/paint/cook/dance a fraction as well as Natalie does.</p>
				</article>

				<article class="becky player left">
					<b>3</b>
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/becky.jpg" alt="" />
					</div>
					<h1>Rebecca Modglin, <br/>Bridesmaid</h1>
					<p>Becky has been Nikki's best friend since they were 12 years old and the sole members of GAG (Girls Against Golf). When they're together, they eat ice cream and chocolate and talk for hours on end. Nikki "lavas" Becky and she always will.</p>
				</article>

				<article class="jenny player">
					<b>4</b>
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/jenny.jpg" alt="" />
					</div>
					<h1>Jennifer Greenwald, <br/>Bridesmaid</h1>
					<p>Jenny spends 40+ hours/week in the office next to Nikki and was among the first to catch Christian and Nikki "in the act." She has seen the couple's relationship grow from co-workers to co-habitants and knows their journey well. Three years ago, Nikki didn't think she'd have a fourth bridesmaid, but Jenny had her at hello (with some persuasion).</p>
				</article>
			</div>

			<div class="flower-girls">
				<h3 class="headline">Flower Girls </h3>

				<article class="helena player">
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/helena.jpg" alt="" />
					</div>
					<h1>Helena <br/>Shum Koubek <br/><span>(age 5)</span></h1>
				</article>

				<article class="olivia player">
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/olivia.jpg" alt="" />
					</div>
					<h1>Olivia <br/>Shum Koubek <br/><span>(age 3)</span></h1>
				</article>

				<article class="noelle player">
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/noelle.jpg" alt="" />
					</div>
					<h1>Noelle <br/>Shum Koubek <br/><span>(8 months)</span></h1>
				</article>
			</div>

			<div class="groomsmen">
				<h3 class="headline">Groom's Party</h3>

				<article class="cj player">
					<b>1</b>
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/cj.jpg" alt="" />
					</div>
					<h1>CJ Price,<br/>Best Man</h1>
					<p>CJ and Christian became close friends in 2000 when CJ took the then Virginia Tech freshman under his wing, becoming Christian's greatest mentor and shaper-of-evil for the next decade!  CJ and Christian moved to Las Vegas together in 2005 where they continued to hone their skills in debauchery until CJ was saved from a life of pool-solo-cup-war and Frisbee-golf by his amazing wife Sheva.  They should send CJ to Iran because he can seriously "win the hearts and minds" of anyone you put him in the room with.</p>
				</article>

				<article class="matt player">
					<b>2</b>
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/matt.jpg" alt="" />
					</div>
					<h1>Matthew Schumann,<br/>Groomsman</h1>
					<p>Matthew and Christian have been best friends since they were about 10 years old.  Matt was known for having the best "put-downs" on the playground - and Chrsitian was always there to laugh and point at whoever was currently feeling the wrath of Matt's sharp and unremitting tongue. </p> 
				</article>

				<article class="brian player right">
					<b>3</b>
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/brian.jpg" alt="" />
					</div>
					<h1>Brian Mackey,<br/>Groomsman</h1>
					<p>Brian and Christian met Freshman year at Virginia Tech where they became fast friends, eventual roommates, imprompu study-hall song and dance partners, firework fiends, and perpetual plotters and jokesters.  Christian has super-deep permanent laugh-wrinkles on his face because Brian's antics kept Christian laughing hysterically for years.</p> 
				</article>

				<article class="chad player">
					<b>4</b>
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/chad.jpg" alt="" />
					</div>
					<h1>Chad White,<br/>Groomsman</h1>
					<p>Chad and Christian spent pretty much every waking minute together in college.  Chad is a soft-spoken brilliant thinker that challenged Christian's perspective on life, the universe, and everything.  Chad continues to shape, cultivate, and awaken Christian's spiritual and metaphyscial place in the world.</p> 
				</article>

				<article class="josh player">
					<b>5</b>
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/josh.jpg" alt="" />
					</div>
					<h1>Joshua Jetson,<br/>Groomsman</h1>
					<p>Josh and Christian met at RED and bonded while exploring recipes for disaster and awkwardness usually involving such ingredients as trashster unicorn emo-bangs and/or over-fermented homemade beer.  Josh is extremely thoughtful and very patient... he NEVER gets angry.</p> 
				</article>
			</div>

			<div class="parents">
				<h3 class="headline">Parents</h3>
				<article class="shum player">
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/shum.jpg" alt="" />
					</div>
					<h1>Martin & Helen Shum, <br/>Parents of the Bride</h1>
				</article>

				<article class="harden player">
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/harden.jpg" alt="" />
					</div>
					<h1>Mark & Suzanne Harden, <br/>Parents of the Groom</h1>
				</article>
			</div>

			<div class="others">
				<h3 class="headline">Wedding Duties!</h3>

				<article class="greg player">
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/greg.jpg" alt="" />
					</div>
					<h1>Greg Koubek,<br/>Brother-in-Law<br/><span>Officiant</span></h1>
				</article>

				<article class="nate player">
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/nate.jpg" alt="" />
					</div>
					<h1>Nathan Walton,<br/>Brother-in-Law<br/><span>Music</span></h1>
				</article>

				<article class="steve player">
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/steve.jpg" alt="" />
					</div>
					<h1>Steve Pepdjonovic<br/><span>Usher</span></h1>
				</article>
			</div>

			<!-- <div class="others">
				<h3 class="headline">Shout Outs!</h3>

				<article class="alex player">
					<div class="photo">
						<img src="{{ STATIC_URL }}img/party/alex.jpg" alt="" />
					</div>
					<h1>Alex Tyack<br/><span>Site design</span></h1>
				</article>

			</div> -->
		</div>
	</div>
</section>