<section id="story" class="page">
		<div class="background">
			<div class="backing tilt-left"><div></div></div>
		</div>
		<div class="content">
			<div class="doves"></div>
			<div class="intro">
				<h1 class="headline" data-copy="Love Story">Love Story</h1>

				<article class="stat work">
					<figure>
						<div>
							<img src="{{ STATIC_URL }}img/about/stat-15.png" alt="15% Chart"/>
						</div>
						<figcaption>
							<strong>15%</strong> <small>of people meet their spouse at work</small>
						</figcaption>
					</figure>
					<p>Nikki and Christian met in early 2008 at RED Interactive Agency, where they both still work. For over a year, Christian displayed remarkable professional resolve by hiding his secret co-worker crush. Then... late in 2009, they became close friends: chatting over IM, frequenting hip-hop dance classes, texting all hours of the night and creating ridiculous excuses to spend time together whenever possible.</p>
					<img class="convo" src="{{ STATIC_URL }}img/about/convo.png" alt="IM Convo"/>
				</article>

				<article class="stat kiss">
					<figure>
						<div>
							<img class="heart" src="{{ STATIC_URL }}img/about/heart.png" alt="Heart" />
							<img class="man" src="{{ STATIC_URL }}img/about/man.png" alt="Man"/>
							<img class="woman" src="{{ STATIC_URL }}img/about/woman.png" alt="Woman"/>
						</div>
						<figcaption>
							<strong>8<sup>out of</sup>10</strong>
							<small>women think that the first kiss will tell them everything they need to know about a relationship</small>
						</figcaption>
					</figure>
					<p>Nikki and Christian spent their first date playing scrabble and dancing to oldies at Mel's Diner where they had their first kiss while dancing to The Beatles (no one else was dancing... or kissing for that matter).  They officially started dating September 27th, 2009 and their "secret" romance was unearthed at work as witnesses reportedly "saw Harden making out with Shum in the parking lot."</p>
				</article>

				<article class="stat engagement">
					<figure>
						<div>
							<img class="clock" src="{{ STATIC_URL }}img/about/clock.png" alt="Clock" />
						</div>
						<figcaption>
							<strong>Make a Wish!</strong>
							<small>57,000 couples married on 11/11/11 and at least one couple got engaged...</small>
						</figcaption>
					</figure>
					<p>Nikki and Christian both have alarms on their phones set to 11:11AM/PM; and almost every day they remind each other to "Make a Wish!". According to superstition you can't tell anyone what you wish for, but on 11-11-11 it was pretty obvious what Christian had been wishing for these last two years: he proposed to Nikki on their Friday morning run by the LA River with "The World's Longest Love Letter - 1/4 Mile" written in chalk on the sidewalk.  Nikki said "Yes!" and then demanded to run to the beginning of the love-letter to replay the proposal from the top.</p>
				</article>

				
				<div class="stat gallery">
					<figure>
						<div>
							<img class="card" src="{{ STATIC_URL }}img/about/card-3.png" alt="Card"/>
							<img class="card" src="{{ STATIC_URL }}img/about/card-2.png" alt="Card"/>
							<img class="card" src="{{ STATIC_URL }}img/about/card-1.png" alt="Card" />
						</div>
						<figcaption>
							<strong><span>1</span><sup>/</sup>10</strong>
							<small>engagement photos</small>
						</figcaption>
					</figure>
					<div class="shadow">
						<div></div>
						<div></div>
					</div>
					<div class="photos">
						<article>
							<div class="photo">
								<img src="{{ STATIC_URL }}img/about/profile-1.jpg" alt="About Nikki and Christian"/>
							</div>
							<div class="content">
								<p>Less than 5% of couples are left handed</p>
							</div>
						</article>
					</div>
					<nav>
						<a class="arrow next" title="Next Photo"></a>
						<a class="arrow prev" title="Previous Photo"></a>
					</nav>
				</div>
			</div>
		</div>
	</section>