<section id="wedding" class="page">
	<div class="background">
		<div class="backing tilt-right"><div></div></div>
	</div>
	<div class="content">
		<div class="drinks"></div>
		<div class="info">

			<h1 class="headline" data-copy="Our Wedding">Our Wedding</h1>

			<article class="stat weddings">
				<figure>
					<div>
						<img src="{{ STATIC_URL }}img/wedding/stat.png" alt="# of weddings"/>
					</div>
					<figcaption>
						<small>Number of weddings attended as a couple:</small>
						<strong>7</strong>
					</figcaption>
				</figure>
			</article>

			<article class="stat location">
				<figure>
					<div>
						<img class="heart" src="{{ STATIC_URL }}img/wedding/marker.png" alt="Map marker" />
					</div>
					<figcaption>
						<strong>Calamigos Ranch, Malibu CA</strong>
						<small>4:30 PM <br/>August 10th, 2012</small>
					</figcaption>
				</figure>
				<p>Secluded just outside of the Los Angeles area, nestled among the Santa Monica Mountains, Calamigos Ranch is one of Malibu’s best kept secrets! Rich with California heritage, Calamigos Ranch boasts picturesque views with over 130 acres of beautifully landscaped grounds. Soothing waterfalls, rolling green meadows, and views from the City to the Sea, Calamigos Ranch is the most visually stunning special event location in the Malibu Wine Country.</p>

				<a class="directions" title="Get Directions" href="https://maps.google.com/maps/ms?hl=en&ie=UTF8&msa=0&msid=216379673372689199621.00045d0629c9d63ca2fc8&s=AARTsJpRiBs_O-AGXLElLGltpU4V0ATJ1g&t=m&vpsrc=0&f=d&daddr=Calamigos+Ranch+%4034.095636,-118.816366&ll=34.154432,-118.816452&spn=0.272744,0.439453&iwloc=00045d062c846f638ab50&source=embed" target="_blank">get directions</a>
				<a class="website" href="http://www.calamigos.com/services/wedding/the-garden-patio" target="_blank" title="Calamigos Ranch Website" href="">website</a>
			</article> 


			<article class="schedule">
				<h2>Schedule</h2>
				<ul>
					<li><b>4:30 pm -</b> Wedding Ceremony</li>
					<li><b>5:30 pm -</b> Cocktail Hour</li>
					<li><b>6:00 pm -</b> Reception </li>
					<li><b>10:45 pm -</b> Last shuttle departs for hotels</li>
					<li><b>11:30 pm -</b> Reception end</li>
					<li><b>Midnight -</b> After Party - Lab Brewing Co. in Agoura</li>
				</ul>
			</article>
		</div>
	</div>
</section>