// Core imports
@import "compass";

// Default project config options
@import "defaults";

// Default project mixins
@import "mixins";

// Default project easings
@import "easings";

// Normalize HTML5 elements
@import "normalize";